/* header navigation */

.customNav {
  position: fixed;
  width: 100%;
  background-size: cover;
  z-index: 10;
  background-color: #2C698B !important;
  border-top: 2px dashed white;
  border-bottom: 2px dashed white; 
}

.navbar-nav{
  margin-left: auto;
}

.navbar-nav li {
  font-weight: 600;
}

.navbar-brand img{
  padding-right: 15px; 
  height: 35px;
}

.cartimg img {
  height: 40px;
}

.nav-item{
  margin: 0px 15px;
}

.customNav a {
  color: white!important;
}
.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #2C698B;
  box-shadow: 0 1px 0 0 #2C698B;
  margin-left: auto;
}


#nav-list{
  margin-right: 0 !important;
}

.form-inline{
  margin-right: 0!important;
  margin-left: auto;
}


div.outernav {
  background-color: #2C698B !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

.fa-search {
  color: white !important;
}

/* footer navigation */

footer {
  background-color: #424046;
  color: white !important;
  font-family: 'Open Sans', sans-serif;
  margin-top: 3%;
}

.customFooter {
  position: fixed;
  width: 100%;
  background-size: cover;
  z-index: 10;
  background-color: #2C698B !important;
  border-bottom: 2px dashed white;
}

div.greyfooter {
  background-color: #424046 !important;
  margin-top: 3%;
}

footer ul {
 list-style: none; 
}

footer li {
  font-size: 12px;
}

.socialmedialinks {
  font-size: 20px !important;
  float: center;
  text-align: center;
  padding: 5px;
}

#appicons {
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer a {
  color: white;
}

.hebinfo p {
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

button#enteremail {
  background-color: #CB3D32;
  border: none;
  border-radius: 25px;
  color: white;
  box-shadow: 3px 3px 3px #424046;
  padding: 5px;
  margin-left: 12px;
  margin-top: 5px;
  width: 50px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}


/* color and font styling */

body {
  background-color: #f8f8f8 !important;
}

h1 {
  font-family: 'Lora', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  text-decoration: none;
  text-align: center;
} 

h2 {
  font-family: 'Lora', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 38px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 3%;
  padding-bottom: 20px;
}

h4 {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  text-decoration: none;
}

h5 {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
}

p { 
  font-family: 'Open Sans', sans-serif;
}

#carttable {
  background: white;
  box-shadow: 3px 3px 3px lightgrey;
  border: lightgrey;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
 


/* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    text-align: center;
  }
  table.table td {
    padding-top: 1.5rem;
    padding-bottom: .4rem;
  }


/* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  td {

/* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%;
  }
  td:before {

/* Now like a table header */
    position: absolute;

/* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    white-space: nowrap;
  }
  td:nth-of-type(1):before {
    content: "Product";
    font-weight: 400;
    left: 50%;
    transform: translate(-50%);
  }
  td:nth-of-type(2):before {
    content: "Color";
    font-weight: 400;
    left: 50%;
    transform: translate(-50%);
  }
  td:nth-of-type(3) {
    position: absolute;
    border: none !important;
  }
  td:nth-of-type(4):before {
    content: "Price";
    left: 50%;
    transform: translate(-50%);
    font-weight: 400;
  }
  td:nth-of-type(5):before {
    content: "QTY";
    left: 50%;
    transform: translate(-50%);
    font-weight: 400;
  }
  td:nth-of-type(5) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1.9rem !important;
  }
  td:nth-of-type(6):before {
    content: "Amount";
    left: 50%;
    transform: translate(-50%);
    font-weight: 400;
  }
  td:nth-of-type(7):before {
    content: "Remove item";
    left: 50%;
    transform: translate(-50%);
    font-weight: 400;
  }
  .btn-group {
    margin-left: 0 !important;
  }
  tr:nth-child(4) td:nth-of-type(4):before,
  tr:nth-child(4) td:nth-of-type(1):before,
  tr:nth-child(4) td:nth-of-type(2):before {
    content: '';
  }
  tr:nth-child(4) td:nth-of-type(1) {
    position: absolute;
    border: none !important;
  }
  tr:nth-child(4) td:nth-of-type(3) {
    position: relative;
    display: flex;
    justify-content: center;
  }
  tr:nth-child(4) td:nth-of-type(4) {
    border-top: none !important;
    display: flex;
    justify-content: center;
    border-bottom : 1px solid #dee2e6;
  }
  }
img{
  max-height: 150px !important;
  max-width: auto !important;
}
.btn {
  background-color: #CB3D32 !important;
  border: none !important;
  border-radius: 25px !important;
  color: white;
  box-shadow: 2px 2px 2px lightgrey;
  padding: 10px 80px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#cartcheckoutbutton {
  background-color: #CB3D32 !important;
  border: none !important;
  border-radius: 25px !important;
  color: white;
  box-shadow: 3px 3px 3px lightgrey;
  padding: 10px;
  width: 225px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

/* view details modal */

button#closemodal {
  border: none;
  box-shadow: none !important;
  color: black !important;
  padding: 10px;
  width: 20px !important;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-right: 3%;
}

.modal-body h4 {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
}

.modal-body p {
  text-align: left;
}

#dismissconfirmation {
  background-color: #2C698B !important;
  border: none;
  border-radius: 25px;
  color: white;
  box-shadow: 3px 3px 3px lightgrey;
  padding: 10px;
  width: 225px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#gotocart {
  background-color: #CB3D32;
  border: none;
  border-radius: 25px;
  color: white;
  box-shadow: 3px 3px 3px lightgrey;
  padding: 10px;
  width: 225px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.customSummary{
  border: 0 none;
  border-radius: 20px;
  padding: 7%;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 7px 6px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
  font-size: .75em;
  }
  
  .purple-dot{
  height: 20px;
  width: 20px;
  background-color: #A952FF;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  }
  
  .white-dot{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    }

  .icingreview{
  list-style-type: none;
  }
  
  .notes {
      text-align: left !important;
  }
  