/* header navigation */

.customNav {
    position: fixed;
    width: 100%;
    background-size: cover;
    z-index: 10;
    background-color: #2C698B !important;
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
}

.navbar-nav{
    margin-left: auto;
}

.navbar-nav li {
    font-weight: 600;
}

.navbar-brand img{
    padding-right: 15px; 
    height: 35px;
}

.cartimg img {
    height: 40px;
}

.nav-item{
    margin: 0px 15px;
}

.customNav a {
    color: white!important;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #2C698B;
    box-shadow: 0 1px 0 0 #2C698B;
    margin-left: auto;
}

#nav-list{
    margin-right: 0 !important;
}

.form-inline{
    margin-right: 0!important;
    margin-left: auto;
}

div.outernav {
    background-color: #2C698B !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fa-search {
    color: white !important;
}


/* footer navigation */

footer {
    background-color: #424046 !important;
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    margin-top: 3%;
}

.customFooter {
    position: fixed;
    width: 100%;
    background-size: cover;
    z-index: 10;
    background-color: #2C698B !important;
    border-bottom: 2px dashed white;
}

div.greyfooter {
    margin-top: 3%;
}

footer ul {
   list-style: none; 
}

footer li {
    font-size: 12px;
}

.socialmedialinks {
    font-size: 20px !important;
    float: center;
    text-align: center;
    padding: 5px;
}

#appicons {
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer a {
    color: white;
}

.hebinfo p {
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

button#enteremail {
    background-color: #CB3D32;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 5px;
    margin-left: 12px;
    margin-top: 5px;
    width: 50px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}

/* Breadcrumb navigation */

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: grey;
    content: "/\00a0"
}

ul.breadcrumb {
    background-color: #f8f8f8;
}

/* color and font styling */

body {
    background-color: #f8f8f8 !important;
}

h1 {
    font-family: 'Lora', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    text-decoration: none;
    text-align: center;
} 

h2 {
    font-family: 'Lora', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 38px;
    text-decoration: none;
    text-align: center;
}

h4 {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    text-decoration: none;
}

h5 {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
}

p { 
    font-family: 'Open Sans', sans-serif;
}

/* homepage hero image */

.jumbotron{
    background-image: url('../Images/bakery-hero2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px lightgrey;
    margin-bottom: 3%;
}

.jumboCopy{
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
}

.jumboCopy h1 {
    font-family: 'Lora', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    text-decoration: none;
}

.jumboCopy p {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.dropdown-menu{
    background: url('../images/transparency.png');
    background-color: transparent !important;
    background-size: cover;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: black;
    text-decoration: none;
    background: black;
}


div.jumboCopy {
    padding: 30px;
    background-color: black;
    opacity: 0.85;
}

.content{
    padding:50px;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
    margin-left: auto;
 }

.active-cyan .fa, .active-cyan-2 .fa {
    color: #4dd0e1;
}

#nav-list{
    margin-right: 0 !important;
}

.form-inline{
    margin-right: 0!important;
    margin-left: auto;
}

/* happy holidays hero image */

.holidayHero{
    background-image: url("../Images/happyholidays2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px lightgrey;
    margin-bottom: 3%;
}

.holidayCopy{
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    text-align: center;
    color: white;
}

.holidayCopy h1 {
    font-family: 'Lora', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    text-decoration: none;
}

.holidayCopy p {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.holidayCopy button {
    background-color: #CB3D32;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 80px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

div.holidayCopy {
    padding: 30px;
    background-color: black;
    opacity: 0.85;
}


/* Bakery categories navigation */


.bakeryNav {
    text-align: center;
}
.bakeryNav img {
    border: 1px solid lightgrey;
    border-radius: 50%;
    background-color: white;
    width: 125px;
    padding: 12px;
    box-shadow: 3px 3px 3px lightgrey;
}
.bakeryNav h2 {
    padding-bottom: 25px;
}
.bakeryNav h4 {
    padding-top: 15px;
}

 .bakeryNav .row {
     padding-bottom: 30px;
}

.bakeryNav a:link {
    text-decoration: none;
}


/* horizontal scrollable menus */


.birthdayNav h2 {
    padding-bottom: 25px;
}

.birthdayNav {
    margin-left: 3%;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu li {
    display: inline-block;
    float: none;
}

.addtocartbutton {
    background-color: #CB3D32;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 3px;
    width: 150px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
}

.customizebutton {
    background-color: #2C698B;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 3px;
    width: 150px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
}

.cakeOptions {
    width: 300px;
    height: 200px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
}

img.pickacake {
    height: 200px;
    padding: 5px;
    position: relative;
}

div.cakeoptionscontent {
    margin-top: 18%;
}

.cakeoptionscontent p {
    font-size: 14px;
    font-weight: bold;
}


/* Product page content */

.producttitle {
    margin-left: 3%;
}

.productdetails {
    margin-top: 2%;
}

.productimg h4 {
    margin-top: 3%;
    margin-bottom: 3%;
}

.productinfo img {
    height: 250px;
    justify-content: center;
}

div.productinfo {
    background: white;
    box-shadow: 3px 3px 3px lightgrey;
    border: lightgrey;
    border-radius: 10px;
    padding: 25px;
}

div.productsummary {
    background: white;
    box-shadow: 3px 3px 3px lightgrey;
    border: lightgrey;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
}

#productaddtocart {
    background-color: #CB3D32;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    width: 200px;
    text-align: center;
    font-size: 16px;
    float: center;
}

#productaddtolist {
    background-color: #2C698B;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    width: 200px;
    text-align: center;
    font-size: 16px;
    float: center;
}

/* Sign in or create an account */

.account {
    margin: 10%;
}

.line2 {
    border: 1px solid lightgrey;
    margin: 5%;
}

.line3 {
    border: 1px solid lightgrey;
    height: 325px;
    position: absolute;
    left: 50%;
}

.account button {
    background-color: #CB3D32;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px;
    width: 225px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.submit {
    background-color: #CB3D32;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px;
    width: 225px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.guest {
    text-align: center;
}

.signin {
    text-align: center;
}

.forgotPW {
    float: left;
    width: 50%;
}

.remember {
    float: left;
    width: 50%;
}

.inputBox {
    width: 225px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin-bottom: 5px;
}

/* checkout process */

.checkoutpage1 h2 {
    margin-top: 3%;
    margin-bottom: 3%;
}

.checkoutpage2 h2 {
    margin-top: 3%;
    margin-bottom: 3%;
}

.checkoutpage3 h2 {
    margin-top: 3%;
    margin-bottom: 3%;
}

#progressbar {
    margin-bottom: 30px;
    margin-top: 3%;
    overflow: hidden;
    color: lightgrey
}
#progressbar .active {
    color: #000000
}
#progressbar li {
    list-style-type: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 30%;
    float: left;
    position: relative
}
#progressbar #checkoutpickup:before {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    content: "1"
}
#progressbar #checkoutpayment:before {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    content: "2"
}
#progressbar #checkoutreview:before {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    content: "3"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #FFFFFF;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}
#progressbar li.active:before,
#progressbar li.active:after {
    background: #CB3D32;
}


#pickuplocation select {
    width: 300px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

#pickuptimes select {
    width: 200px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

div.pickupsetting {
    padding: 5px;
}

div.ordersummarycard {
    background: white;
    box-shadow: 3px 3px 3px lightgrey;
    border: lightgrey;
    border-radius: 10px;
    margin-top: 3%;
    padding: 25px;
}

.summaryimg img {
    width: 150px;
    position: relative;
    border: lightgrey;
    z-index: 1;

}

div.summary {
    background: white;
    box-shadow: 3px 3px 3px lightgrey;
    border: lightgrey;
    border-radius: 10px;
    margin-top: 3%;
    padding: 25px;
}

.summarytotal {
    font-size: 14px;
}

.submitbuttons button {
    background-color: #CB3D32;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px;
    width: 225px;
    text-align: center;
    font-size: 16px;
    float: right;
}

div.paymentdetails {
    background: white;
    box-shadow: 3px 3px 3px lightgrey;
    border: lightgrey;
    border-radius: 10px;
    margin-top: 3%;
    padding: 25px;
}

button#applypromo {
    background-color: #2C698B;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
    width: 100px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}

#promocode {
    display: inline-block;
    width: auto;
}

.container h5 {
    margin-bottom: 3%;
}

#dismissconfirmation {
    background-color: #CB3D32;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px;
    width: 225px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.modal-body h4 {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
}